ion-content{
  --background: #162447;
}
ion-item{
  --background: #162447;
  --color: #ffffff;
  --border-color: #f45905;
  ion-icon{
    svg{
      color: #ffffff;

    }
  }
}
ion-list{
  background: #162447;
}